.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    'video video video video'
    'video video video video'
    'transcript transcript slides slides'
    'transcript transcript slides slides'
    'transcript transcript slides slides';
}

.video {
  grid-area: video;
}

.transcript {
  grid-area: transcript;
}

.slides {
  grid-area: slides;
}
